<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"

    package="com.example.mahesh.smartebilling"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.DarkActionBar"
        tools:replace="@android:icon">
        <activity android:name=".Login">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ShopAgain"/>
        <activity android:name=".Registration" />
        <activity android:name=".Checkout" />
        <activity android:name=".PreviousShopping"/>
        <activity android:name=".FindLocation"/>
        <activity android:name=".Happyshopping"/>
        <activity android:name=".IfUserWantsToAddExisting"/>
        <activity android:name=".IfUserWantsToAddRare"/>
        <activity android:name=".GetCount"/>
        <activity android:name=".Viewbill" />
        <activity android:name=".Getdiscount" />
        <activity android:name=".Getoffers" />
        <activity android:name=".Splashscreen">

        </activity>
    </application>

</manifest>